@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins,monospace;
}
body{
    background-image: url(https://getwallpapers.com/wallpaper/full/6/a/9/1173035-cold-weather-wallpaper-1920x1200-1080p.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(10px);
    
}

header{
    text-align: center;
    background-color: #5372f066;
    width: 100%;
}
.container{
    display: flex;
    gap: 35px;
    padding: 30px 30px;
}

.wether-input input{
   
    
    margin: 10px 0 20px 0;
    outline: none;
    padding: 0 15px;
    font-size: 1.07rem;
    border: 1px solid #ccc;
    border-radius: 4px;

}
.wether-input button{
    width:100%;
    padding: 10px 0;
    cursor: pointer;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 5px;
    background: #5372f096;
}
.sepration{
    margin: 25px 0;
    height: 1px;
    width: 100%;
    background: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;

    
}
.sepration::before {
    content: "";
    color: #6c757d00;
    font-size: 1.18rem;
    padding: 0 15px;
    margin-top: -4px;
    background: #e3f2fd00;
}
.wether-input .location-btn{
    background: #6c757d;
}
.weather-data{
    width: 100%;
}
.current-wether{
    background: #5372f077;
    padding: 20px 20px 20px 20px;
    display: flex;
    border-radius: 5px;
    color: #fff;
    justify-content: space-between;
    width: 100%;
    
}
.current-wether h3{
    font-size: 1.7rem;

}
.details h3{
    width: 100%;
}
.icon h6{
    width: 100%;
}
.weather-data h6{
    font-size: 0.6rem;
    margin-top: 12px;
    font-weight: 500;
}
.current-wether .icon img{
    max-width: 120px;
    margin-top: -15px;
}
.current-wether .icon h6{
    margin-top: -10px;
    text-transform: capitalize;
}
.days-forecast{
    font-size: 1rem;
    margin: 20px 0;

}
.wether-cards{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    
}
.card{
    background: #6c757d;
    list-style: none;
    color: #fff;
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    
    
}
.card h5{
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    width: 100%;
    font-size: 10px;
    
}
.card img{
    margin-left: 30px;
    margin-right: 30px;
}
.wether-cards .card img{
    max-width: 70px;
    margin: 5px 0 -12px 0;
}



@media (max-width:900px){
    .wether-input{
        width: 100%;
    }
    .container{
        flex-wrap: wrap;
        padding: 15px;
    }
    body{
        background-image: url(https://cdn6.f-cdn.com/contestentries/329593/14489232/569add2d8d3cb_thumb900.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wether-cards{
        flex-wrap: wrap;
        width: 100%;
        font-size: 20px;
    }
    .card{
        width: 100px;
    }
    .current-wether{
        width: 100%;
        padding: 10px;
    }
    .current-wether h3{
        font-size: 20px;
    
    }
    .current-wether .icon img{
        max-width: 60px;
        margin-top: -15px;
    }
    
    .wether-input input{
        width: 100%;
   
    
        margin: 10px 0 20px 0;
        outline: none;
        padding: 0 15px;
        font-size: 1.07rem;
        border: 1px solid #ccc;
        border-radius: 4px;
    
    }
    .wether-input button{
        width:100%;
        padding: 10px 0;
        cursor: pointer;
        outline: none;
        border: none;
        color: #fff;
        font-size: 1rem;
        border-radius: 5px;
        background: #5372f096;
    }
    
    .sepration{
        
        width: 100%;   
    }
    .heading h3{
        font-size: 25px;
        
    }
}
